OPENAI_API_KEY=
DEVELOPMENT_MODE=True
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,0.0.0.0
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
LANGSMITH_TRACING=True
RE_CHROMA_HOST=
RE_CHROMA_PORT=
